@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --colour-primary: #A6553C;
  --colour-secondary: #244123;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-color-secondary {
  background-color: var(--colour-secondary);
}

.\!bg-color-secondary {
  background-color: var(--colour-secondary)!important;
}

.color-primary {
  color: var(--colour-primary);
}

.\!color-primary {
  color: var(--colour-primary)!important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
